
#logo {
  display: inline-block;
  margin: 25px; /* margin: 20px was off */
  height: 80px;
  width: auto; /* correct proportions to specified height */
  border-radius: 80%; /* makes it a circle */
}
body {
    background-color: #DBF9FC;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    }
    div {
        height: 200px;
        width: 50%;
        background-color: powderblue;
      }
      img {
        max-width:15%;
        height: 10;
    }
    span {
        color: burlywood;
        background: brown;
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(2, 52, 109);
        color: white;
        text-align: center;
        height: 10%;
      }
      /* :hover{
          background: lawngreen;
      } */